server:
  port: 8080

spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/ostara_db
    username: ostara
    password: ostara123
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
